@import "bootstrap/scss/bootstrap";

/* Global styling */

* {
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
}

#navbar-text{
    color:azure;
}

#side-navbar, #content {
    border: 1px solid red;
}

/* Todo list styling */
.todo {
    .todo-body {
        display: flex;
    }
}