@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

/* Global styling */

* {
  font-family: "Inter";
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

/* Navbar styling */
#navbar-text {
  color: azure;
}

#sidenavbar-toggler {
  font-size: 2rem;
  color: azure;
  margin-bottom: 10px;
  margin-right: 2rem;
  margin-left: 1rem;
  padding: 0;
  cursor: pointer;
  transition: color 0.3s;
}

#sidenavbar-toggler:hover {
  color: white;
}

#sidenavbar-toggler:active {
  color: rgb(109, 163, 229);
}

#all-todos-link {
  cursor: pointer;
}

#side-navbar,
#content {
  padding: 2rem;
}

.hide-sidenav {
  display: none;
}

#add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.3rem; /* Adjust the size as needed */
  height: 1.3rem; /* Adjust the size as needed */
  border-radius: 50%; /* Makes the button circular */
  background-color: #007bff; /* Button background color */
  color: #fff; /* Icon color */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  font-size: 1rem;
  padding: 0px;
  text-align: center;
  margin: auto;
}

#add-icon {
  margin-bottom: 0.1rem;
}
#add-btn:hover {
  background-color: #0056b3;
}

#add-btn:focus {
  outline: none;
  box-shadow: 0 0 5px #0056b3;
}

#add-btn:active {
  background-color: #003865;
}
.empty-message-div {
  color: gray;
}
/* Todo list styling */
.todo {
  .todo-body {
    display: flex;
  }
  .todo-modal-description {
    font-size: 1.3rem;
  }
  .priority-indicator {
    font-size: 1rem;
    margin-left: 1rem;
  }
  .high {
    color: red;
  }
  .medium {
    color: orange;
  }
  .low {
    color: green;
  }
}

#add-todo-container {
  padding: 0;
  margin: 0;
}
.finished-todo {
  text-decoration: line-through;
}

/* Side navbar styles */
.bi-trash {
  margin-left: 1rem;
}
#add-project-header-container {
  #add-btn {
    margin-left: 0.5rem;
  }
}
